<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.RPG_CharMngrConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\RPG_CharMngr.mdf;Integrated Security=True;Connect Timeout=60"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>